<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.InAppService">
	<uses-sdk />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="InAppService" android:icon="@drawable/icon">
	</application>
</manifest>